/* 로그인 form 파트 */
#login-form input {
  width: 30vw;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 5px;
  color: white;
  opacity: 0.8;
}

#login-form ::placeholder {
  color: white;
}

#greeting {
  color: white;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -2px;
}

/*시계 파트*/
#ampm {
  color: white;
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: 700;
}

#clock {
  color: white;
  font-size: 80px;
  margin-bottom: 50px;
}

#today {
  color: white;
  font-size: 40px;
  margin-bottom: 100px;
  letter-spacing: -2px;
  font-weight: 700;
}

/*바로가기 파트*/
.shortcut {
  width: 50%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.shortcut img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.shortcut a:last-child img {
  width: 65px;
  height: 65px;
}

.shortcut img:hover {
  transform: scale(1.15);
}
