/* 로그인 form 파트 */
#login-form input {
  width: 30vw;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 5px;
  color: white;
  opacity: 0.8;
}

#login-form ::placeholder {
  color: white;
}

#greeting {
  color: white;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
}

/*시계 파트*/
#ampm {
  color: white;
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: 600;
}

#clock {
  color: white;
  font-size: 80px;
  margin-bottom: 50px;
}

#today {
  color: white;
  font-size: 40px;
  margin-bottom: 100px;
  letter-spacing: -2px;
  font-weight: 600;
}
