/* todo 리스트 파트 */

#todo-form {
  padding-top: 40%;
}

#todo-form input {
  height: 30px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  opacity: 0.5;
}

#todo-form ::placeholder {
  color: white;
}

#todo-list {
  width: 80%;
  height: 60%;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
}

#todo-list li {
  margin: 15px;
  padding-left: 10%;
}

#todo-list li > button {
  margin-right: 10px;
}

#todo-list li:first-child {
  padding-top: 5%;
}

/* 음악 추천 파트 */
#recommended-music {
  width: 80%;
  display: flex;
  position: absolute;
  bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 15%;
}

#recommended-music span {
  margin: 10px 0;
}
