#todo-form {
  padding-top: 20%;
}

#todo-form input {
  height: 30px;
  border: 1px solid black;
  border-radius: 30px;
  text-align: center;
}

#todo-list {
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
}

#todo-list li {
  margin: 10px 0;
}
