/* todo 리스트 파트 */

#todo-form {
  padding-top: 25%;
}

#todo-form input {
  background-color: transparent;
  height: 30px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  opacity: 0.8;
  color: white;
}

#todo-form ::placeholder {
  color: white;
}

#todo-list {
  width: 70%;
  height: 60%;
  margin: 10px 0;
  border-radius: 10px;
  background-color: white;
  opacity: 0.6;
}

#todo-list li {
  margin: 15px;
  padding-left: 10%;
  border-radius: 10px;
  font-weight: 700;
}

#todo-list li:hover {
  box-shadow: 0 0 8px;
  transform: scale(1.03);
}

#todo-list li > button {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  color: red;
  background-color: transparent;
  border: none;
}

#todo-list li > button:hover {
  box-shadow: 0 0 8px;
}

#todo-list li:first-child {
  margin-top: 10%;
}

.finishToDo {
  text-decoration: line-through;
  color: gray;
}

/* 음악 추천 파트 */
#recommended-music {
  width: 70%;
  display: flex;
  position: absolute;
  bottom: 5px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 15%;
  background-color: white;
  opacity: 0.6;
}

#recommended-music span {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}
