#weather {
  display: flex;
  position: absolute;
  top: 15px;
  right: 25px;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

#weather span:first-child {
  margin-bottom: 3px;
}

/* 달력 파트 */
@import "calendar.css";
#calendarForm {
  display: flex;
  width: 80%;
  height: 40%;
  background-color: white;
  margin-top: 300px;
  opacity: 0.7;
  border-radius: 20px;
}

.custom_calendar_table td {
  text-align: center;
}

.custom_calendar_table thead.cal_date th {
  font-size: 1.5rem;
}

.custom_calendar_table thead.cal_date th button {
  font-size: 1.5rem;
  background: none;
  border: none;
}

.custom_calendar_table thead.cal_date th button:hover {
  transform: scale(1.2);
}

.custom_calendar_table thead.cal_week th:hover {
  transform: scale(1.1);
}

.custom_calendar_table thead.cal_week th {
  background-color: #288cff;
  color: #fff;
  border-radius: 10px;
  padding-top: 5px;
}

.custom_calendar_table tbody td {
  padding-top: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.custom_calendar_table tbody td:hover {
  transform: scale(1.1);
  background-color: #fcaaee;
}

.custom_calendar_table tbody td:nth-child(1) {
  color: red;
}

.custom_calendar_table tbody td:nth-child(7) {
  color: #288cff;
}

.custom_calendar_table tbody td.select_day {
  background-color: #288cff;
  color: #fff;
}
