#weather {
  display: flex;
  position: absolute;
  top: 15px;
  right: 25px;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

#weather span:first-child {
  margin-bottom: 3px;
}

/* 달력 파트 */
.right .container {
  width: 90%;
  height: 50%;
}

.my-calendar {
  position: relative;
  top: 200px;
  right: 50px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 80%;
  max-height: 80%;
  min-height: 80%;
  margin: 30px;
  padding: 20px 20px 10px;
  text-align: center;
  font-weight: 700;
  border-radius: 20px;
  background-image: linear-gradient(
    rgba(194, 229, 156, 0.6),
    rgba(100, 179, 244, 0.6)
  );
  cursor: default;
}

.my-calendar .clicked-date {
  border-radius: 25px;
  margin-top: 80px;
  float: left;
  width: 35%;
  padding: 46px 0 26px;
}
.my-calendar .calendar-box {
  float: right;
  width: 65%;
  padding-left: 30px;
  margin-top: 25px;
}

.clicked-date {
  box-shadow: 1px 1px 1px 1px black;
}

.clicked-date .cal-day {
  font-size: 22px;
}
.clicked-date .cal-date {
  font-size: 95px;
}

.ctr-box {
  padding: 0 8px;
  margin-bottom: 20px;
  font-size: 16px;
}
.ctr-box .btn-cal {
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin-top: -5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
}
.ctr-box .btn-cal:after {
  content: "<";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 25px;
  font-weight: bold;
  font-size: 20px;
}
.ctr-box .btn-cal.next {
  float: right;
}
.ctr-box .btn-cal.next:after {
  content: ">";
}

.cal-table {
  width: 100%;
}
.cal-table th {
  width: 14.2857%;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 900;
}
.cal-table td {
  padding: 3px 0;
  height: 50px;
  font-size: 15px;
  vertical-align: middle;
}
.cal-table td.day {
  position: relative;
  cursor: pointer;
}
.cal-table td.today {
  background: #ffd255;
  border-radius: 50%;
  color: #fff;
}
.cal-table td.day-active {
  background: #ff8585;
  border-radius: 50%;
  color: #fff;
}
.cal-table td.has-event:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #ffc107;
}
