#weather {
  display: flex;
  position: absolute;
  top: 15px;
  right: 25px;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 20px;
}

#weather span:first-child {
  margin-bottom: 3px;
}
